header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    min-height: 5rem;
    background-color: rgb(255, 119, 0);
    margin-bottom: 0px;
    padding: 0%;
}
header svg{
    cursor: pointer;
}
header nav:hover, header img:hover{ 
background-color: #ff5900;
    text-decoration: underline;
    cursor: pointer;
}
header nav{
    color:rgb(102, 46, 6);
    font-size: 1.5rem;
    padding:1.5rem 4rem;  
    border: none;
    outline: none;
    margin: 0;
    height: 100%;
}
header img{
  flex-basis:15rem;
  padding:1.5rem 4rem;
  width: 10%;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    display: block;
    font-size: 1.5rem;
    border: none;
    outline: none;
    flex-basis:2rem;
    color:rgb(102, 46, 6);
    padding:1rem 4rem;  
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffd900;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(225, 78, 11);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }