.snippetsSection{
    margin-top: -10rem;
    align-items: center;
}
.snippetsSection h2{
    text-align: center;
    
}
.SnippetContainer{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    margin:4rem;
}
.snippet{
    flex-basis:25rem;
    flex-shrink:1;
    flex-grow:1;
    border: 3px solid rgb(148, 74, 0);
    padding:2rem 3rem;
    box-shadow: 5px 10px  #ffe207 ;
    margin:1rem;
    width:4rem;
    background-color: rgb(255, 80, 11);
    color:rgb(142, 45, 12);
    font-size: 1.1rem;
    font-family: monospace;
    margin:2rem;
    font-weight: bold;
}
.snippet:hover{
    background-color: rgb(12, 60, 18);
    color:#efd53e;
    box-shadow: 5px 10px rgb(255, 64, 0);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
